.title {
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.choice {
    border: none;
    border-radius: 8px;
    background-color: aqua;
    padding: 50px;
}

.choice img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid black;    
    cursor: pointer;
}

.result-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.result {
    padding: 10px 20px;
    background-color: aqua;
}
